<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Montserrat:wght@400;700&family=Raleway:wght@800&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="collection-conteiner">
        <h2 class="collection-title">Our collection</h2>
        <ul class="collection-list">
            <li class="collection-item">
                <picture>
                    <source srcset="./img/collection-mob-1.jpg  1x, ./img/collection-mob-1-2x.jpg  2x"
                        media="min-width: 375px" />
                    <source srcset="./img/collection-tab-1.jpg  1x, ./img/collection-tab-1-2x.jpg  2x"
                        media="min-width: 768px" />
                    <source srcset="./img/collection-des-1.jpg  1x, ./img/collection-des-1-2x.jpg  2x"
                        media="min-width: 1280px" />
                    <source srcset="./img/collection-des1-1.jpg  1x, ./img/collection-des1-1-2x.jpg  2x"
                        media="min-width: 1440px" />
                    <img class="collection-img" src="./img/collection-mob-1.jpg" alt="Women's blouse" width="335"
                        height="400" />
                </picture>
                <h3 class="collection-name">AUGUST Poltava women's blouseRING</h3>
                <p class="collection-text">3300 UAH</p>
            </li>
            <li class="collection-item">
                <picture>
                    <source srcset="./img/collection-mob-2.jpg  1x, ./img/collection-mob-2-2x.jpg  2x"
                        media="min-width: 375px" />
                    <source srcset="./img/collection-tab-2.jpg  1x, ./img/collection-tab-2-2x.jpg  2x"
                        media="min-width: 768px" />
                    <source srcset="./img/collection-des-2.jpg  1x, ./img/collection-des-2-2x.jpg  2x"
                        media="min-width: 1280px" />
                    <source srcset="./img/collection-des1-2.jpg  1x, ./img/collection-des1-2-2x.jpg  2x"
                        media="min-width: 1440px" />
                    <img class="collection-img" src="./img/collection-mob-2.jpg" alt="Women's blouse" width="335"
                        height="400" />
                </picture>
                <h3 class="collection-name">Women's blouse Gorgany</h3>
                <p class="collection-text">3350 UAH</p>
            </li>
            <li class="collection-item">
                <picture>
                    <source srcset="./img/collection-mob-3.jpg  1x, ./img/collection-mob-3-2x.jpg  2x"
                        media="min-width: 375px" />
                    <source srcset="./img/collection-tab-3.jpg  1x, ./img/collection-tab-3-2x.jpg  2x"
                        media="min-width: 768px" />
                    <source srcset="./img/collection-des-3.jpg  1x, ./img/collection-des-3-2x.jpg  2x"
                        media="min-width: 1280px" />
                    <source srcset="./img/collection-des1-3.jpg  1x, ./img/collection-des1-3-2x.jpg  2x"
                        media="min-width: 1440px" />
                    <img class="collection-img" src="./img/collection-mob-3.jpg" alt="Women's blouse" width="335"
                        height="400" />
                </picture>
                <h3 class="collection-name">Women's blouse Crimea</h3>
                <p class="collection-text">4000 UAH</p>
            </li>
            <li class="collection-item">
                <picture>
                    <source srcset="./img/collection-mob-4.jpg  1x, ./img/collection-mob-4-2x.jpg  2x"
                        media="min-width: 375px" />
                    <source srcset="./img/collection-tab-4.jpg  1x, ./img/collection-tab-4-2x.jpg  2x"
                        media="min-width: 768px" />
                    <source srcset="./img/collection-des-4.jpg  1x, ./img/collection-des-4-2x.jpg  2x"
                        media="min-width: 1280px" />
                    <source srcset="./img/collection-des1-4.jpg  1x, ./img/collection-des1-4-2x.jpg  2x"
                        media="min-width: 1440px" />
                    <img class="collection-img" src="./img/collection-mob-4.jpg" alt="Women's blouse" width="335"
                        height="400" />
                </picture>
                <h3 class="collection-name">Men's shirt Verkhovina</h3>
                <p class="collection-text">3100 UAH</p>
            </li>
            <li class="collection-item">
                <picture>
                    <source srcset="./img/collection-mob-5.jpg  1x, ./img/collection-mob-5-2x.jpg  2x"
                        media="min-width: 375px" />
                    <source srcset="./img/collection-tab-5.jpg  1x, ./img/collection-tab-5-2x.jpg  2x"
                        media="min-width: 768px" />
                    <source srcset="./img/collection-des-5.jpg  1x, ./img/collection-des-5-2x.jpg  2x"
                        media="min-width: 1280px" />
                    <source srcset="./img/collection-des1-5.jpg  1x, ./img/collection-des1-5-2x.jpg  2x"
                        media="min-width: 1440px" />
                    <img class="collection-img" src="./img/collection-mob-5.jpg" alt="Women's blouse" width="335"
                        height="400" />
                </picture>
                <h3 class="collection-name">Mountain men's shirt</h3>
                <p class="collection-text">3300 UAH</p>
            </li>
            <li class="collection-item">
                <picture>
                    <source srcset="./img/collection-mob-6.jpg  1x, ./img/collection-mob-6-2x.jpg  2x"
                        media="min-width: 375px" />
                    <source srcset="./img/collection-tab-6.jpg  1x, ./img/collection-tab-6-2x.jpg  2x"
                        media="min-width: 768px" />
                    <source srcset="./img/collection-des-6.jpg  1x, ./img/collection-des-6-2x.jpg  2x"
                        media="min-width: 1280px" />
                    <source srcset="./img/collection-des1-6.jpg  1x, ./img/collection-des1-6-2x.jpg  2x"
                        media="min-width: 1440px" />
                    <img class="collection-img" src="./img/collection-mob-6.jpg" alt="Women's blouse" width="335"
                        height="400" />
                </picture>
                <h3 class="collection-name">Men's shirt Yasen</h3>
                <p class="collection-text">1700 UAH</p>
            </li>
        </ul>
    </div>

</body>

</html>