<footer class="footer">
    <section class="footer-menu">
        <ul class="footer-list">
            <li class="footer-list-item">About us</li>
            <li class="footer-list-item">Our collection</li>
            <li class="footer-list-item">CUSTOMER ORDER</li>
            <li class="footer-list-item">TEstimonials</li>
        </ul>
        <h2 class="footer-title">A touch of <span class="footer-title-span">Ukrainian</span> culture in every embroidery</h2>
    </section>
    <img src="../img/vyshyvanka-mob.svg" alt="vyshyvanka" class="picture" width="452">
    <img src="../img/vyshyvanka-tab.svg" alt="vyshyvanka" class="picture-tab" width="452">
    <img src="../img/vyshyvanka-lap.svg" alt="vyshyvanka" class="picture-lap" width="595">
    <img src="../img/vyshyvanka-des.svg" alt="vyshyvanka" class="picture-des" width="595">
</footer>