<header>
    <div class="header-container">
        <nav class="header-nav">
            <a class="header-logo" href="./index.html"><img src="./img/logo.svg" alt="logo" width="44" height="39"></a>
            <ul class="header-menu-list">
                <li class="header-menu-item"><a class="header-menu-link" href="#about">about us</a></li>
                <li class="header-menu-item"><a class="header-menu-link" href="#collection">our collection</a></li>
                <li class="header-menu-item"><a class="header-menu-link" href="#order">customer order</a></li>
                <li class="header-menu-item"><a class="header-menu-link" href="#testimonials">testimonials</a></li>
            </ul>
        </nav>
        <address class="header-contact">
            <a class="header-contact-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </address>
        <ul class="header-soc-list">
            <li class="header-soc-item">
                <a class="header-soc-link" href="https://www.facebook.com/goITclub/" target="_blank" alt="facebook"
                    aria-label="facebook">
                    <svg class="header-soc-icon" width="28" height="28">
                        <use href="./img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a class="header-soc-link" href="https://www.instagram.com/goitclub/" target="_blank" alt="instagram"
                    aria-label="instagram">
                    <svg class="header-soc-icon" width="28" height="28">
                        <use href="./img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-soc-item">
                <a class="header-soc-link" href="https://www.youtube.com/c/GoIT" target="_blank" alt="youtube"
                    aria-label="youtube">
                    <svg class="header-soc-icon" width="28" height="28">
                        <use href="./img/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button type="button" class="menu-open-btn" data-menuBTN-open aria-label="menu open button">
            <svg class="menu-open-btn-icon" width="36" height="24">
                <use href="./img/symbol-defs.svg#icon-nav"></use>
            </svg>
        </button>
    </div>

    <div class="mob-menu " data-menu>
        <div class="mob-menu-container">
            <a class="mob-menu-contact-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            <button type="button" class="mob-menu-close-btn" data-menuBTN-close aria-label="menu close button">
                <svg class="mob-menu-close-btn-icon" width="36" height="36">
                    <use href="./img/symbol-defs.svg#icon-x"></use>
                </svg>
            </button>
        </div>
        <ul class="mob-menu-list">
            <li class="mob-menu-item"><a class="mob-menu-link" href="#about" aria-label="about us" alt="about us">about
                    us</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#collection" aria-label="our collection"
                    alt="our collection">our collection</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#order" aria-label="customer order"
                    alt="customer order">customer order</a></li>
            <li class="mob-menu-item"><a class="mob-menu-link" href="#testimonials" aria-label="testimonials"
                    alt="testimonials">testimonials</a></li>
        </ul>
    </div>
</header>