<section class="hero">
    <div class="container-hero">
        <div class="hero-main">
            <div class="hero-content">
                <h1 class="hero-title">Reviving the traditional <span class="hero-part">Ukrainian</span> artistry in
                    every stitch.</h1>
                <a href="#order" class="hero-link">
                    <button type="button" class="hero-btn" aria-label="section hero button">Order
                        <svg class="hero-svg" width="26" height="21">
                            <use href="./img/symbol-defs.svg#icon-pointer"></use>
                        </svg>
                    </button>
                </a>
            </div>
            <picture class="hero-img">
                <source srcset="./img/girl-desk.jpg 1x, ./img/girl-desk-2x.jpg 2x" media="(min-width: 1440px)">
                <source srcset="./img/girl-desk.jpg 1x, ./img/girl-desk-2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="./img/girl-tab.jpg 1x, ./img/girl-tab-2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="./img/girl-mob.jpg 1x, ./img/girl-mob-2x.jpg 2x" media="(min-width: 375px)">
                <img src="./img/girl-mob.jpg" alt="a girl in an embroidered dress" width="335" height="544"
                    class="hero-image">
            </picture>
            <div class="hero-element">
                <svg class="element-svg" width="52" height="51">
                    <use href="./img/symbol-defs.svg#icon-star"></use>
                </svg>
                <p class="element-subtitle">
                    all embroidery is made by hand
                </p>
            </div>
            <img srcset="./img/img-hero.jpg 1x, ./img/img-hero-2x.jpg 2x" src="./img/img-hero.jpg"
                alt="embroidered shirt" class="element-img">
        </div>
    </div>

</section>