<section class="order" id="order">
  <div class="order-bg-img"></div>
  <div class="order-wrap">
    <div class="order-form-bg-wrap">
      <h1 class="order-form-title">
        <span class="order-form-title-accent">Your order</span> is our priority:
        Personalized approach and quality of service
      </h1>

      <form class="order-form">
        <input type="text" name="customer-name" class="order-input" id="customer-name"
          placeholder="Enter your full name" pattern="[A-Za-zА-Яа-яЁёҐґІіЇїЄє']+" required />

        <input type="email" name="customer-email" class="order-input" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
          required placeholder="Enter your email" />

        <textarea name="customer-comment" id="customer-comment" class="order-textarea"
          placeholder="Comments"></textarea>

        <button type="submit" class="modal-send-btn" aria-label="order button">
          Send<svg class="order-icon" width="26" height="10">
            <use href="./img/symbol-defs.svg#icon-pointer"></use>
          </svg>
        </button>
      </form>
    </div>
    <div class="order-bg-bottom-img">
      <picture class="order-picture">
        <source srcset="
            ./img/order-content-dt-1440-1x.jpg 1x,
            ./img/order-content-dt-1440-2x.jpg 2x
          " media="(min-width: 1439px)" />
        <source srcset="
            ./img/order-content-dt-1280-1x.jpg 1x,
            ./img/order-content-dt-1280-2x.jpg 2x
          " media="(min-width: 1279px)" />
        <source srcset="
            ./img/order-content-tab-1x.jpg 1x,
            ./img/order-content-tab-2x.jpg 2x
          " media="(max-width: 767px)" />
        <img class="order-content-img" src="./img/order-content-tab-1x.jpg" alt="company prodact" width="639"
          height="521" />
      </picture>
    </div>
  </div>
</section>