.about-container {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding: 40px 20px 62px 20px;
  background-image: url(../img/about/bg-about-mob.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 125px;
  background-size: 458px 408px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-container {
    background-image: url(../img/about/bg-about-mob-2x.png);
    background-size: 459px 408px;
  }
}

.about-wrap {
  margin-bottom: 50px;
  width: 335px;
}

.about-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.about-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.about-img {
  width: 100%;
  border-radius: 4px;
}

details {
  display: inline;
}

details {
  position: relative;
}

details summary {
  display: block;
  cursor: pointer;
  color: #ecd979;
}

details summary:focus {
  outline: none;
}

details[open] {
  display: block;
  padding-bottom: 25px;
  padding-top: 10px;
  animation: open 0.2s linear;
}

details[open] summary {
  position: absolute;
  bottom: 0;
  left: 0;
}

details #open {
  padding-left: 5px;
  text-align: middle;
}

details #open:after {
  display: inline-block;
  position: relative;
  top: -3px;
  padding-left: 8px;
  content: '\00bb';
  transform: rotate(90deg);
}

details[open] #open {
  display: none;
}

details #close {
  display: none;
}

details[open] #close {
  display: block;
}

::-webkit-details-marker {
  display: none;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
  |============================
  | tab
  |============================
*/

@media screen and (min-width: 768px) {
  .about-container {
    max-width: 758px;
    padding: 50px 32px 50px 32px;

    background-image: url(../img/about/bg-about-tab.png);
    background-position: bottom 0px left 399px;
    background-size: 545px 484px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-container {
      background-image: url(../img/about/bg-about-tab-2x.png);
    }
  }

  .about-wrap {
    margin-bottom: 40px;
    width: 704px;
  }

  .about-title {
    font-size: 44px;
    line-height: 1.46;
  }

  .about-text {
    font-size: 16px;
  }

  .about-img {
    width: 704px;
    height: 545px;
    width: 100%;
  }
}

/**
  |============================
  | desk 1280
  |============================
*/
@media screen and (min-width: 1280px) {
  .about-container {
    max-width: 1280px;
    padding: 75px 100px 75px 100px;

    background-image: url(../img/about/bg-about.png);
    background-position: bottom -10px left 895px;
    background-size: 545px 484px;

    display: flex;
    align-items: center;
    gap: 50px;
  }

  .about-wrap {
    margin-bottom: 0;
  }

  .about-title {
    font-size: 44px;
    line-height: 1.46;
  }

  .about-text {
    width: 436px;
    font-size: 16px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .about-container {
      background-image: url(../img/about/bg-about-2x.png);
    }
  }

  .about-img {
    width: 594px;
    height: 545px;
    width: 100%;
  }
}

/**
  |============================
  | desk 1440
  |============================
*/

@media screen and (min-width: 1440px) {
  .about-container {
    max-width: 1440px;
  }

  .about-text {
    width: 481px;
  }

  .abbout-img {
    width: 709px;
    height: 545px;
    width: 100%;
  }
}
