.collection-conteiner {
    background-color: #1C2225;
    background-image: url(../img/backimg-collection.png);
    background-repeat: no-repeat;
    /* background-position:  */
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    max-width: 375px;
    margin-left: auto;
        margin-right: auto;
}

.collection-title {
    color: var(--main-white);
    font-family: Manrope;
    text-align: center;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.03em;
        margin-bottom: 40px;

        
       
}

.collection-list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}

.collection-item {}

.collection-img {

    max-width: 100%;
    height: auto;

    margin-bottom: 18px;
    margin-top: 20px;
}

.collection-name {
        color: var(--main-white);
        font-family: Manrope;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 8px;
}

.collection-text {
    color: rgba(252, 249, 249, 0.40);
    
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05em;



        
}

@media screen and (min-width: 768px) {
    .collection-conteiner {
            max-width: 768px;
            padding-top: 50px;
                padding-left: 32px;
                padding-right: 32px;
                padding-bottom: 100px;
        }

        .collection-title {
            font-size: 44px;
        }

.collection-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

    .collection-name {
font-size: 18px;
overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    }

    .collection-text {
        font-size: 18px;
    }
.collection-item {
width: calc((100% - 20px) / 2);
}
    .collection-img {
        margin-top: 0;}

}

@media screen and (min-width: 1280px) {

    .collection-conteiner {
        max-width: 1280px;
            padding-top: 70px;
            padding-left: 100px;
            padding-right: 100px;
            padding-bottom: 150px;
    }

        .collection-item {
            width: calc((100% - 40px) / 3);
        }
    
        .collection-img {
            margin-top: 0;
        }
    
        }

        @media screen and (min-width: 1440px) {
            .collection-conteiner {
                    max-width: 1440px;
                    
        }
    }
