.footer {
    width: 375px;
    border-top: 1px solid rgba(252, 249, 249, 0.10);
    height: 649px;
    background-image: url(../img/vyshyvanka-mob.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 100%;
}
@media (min-resolution: 192dpi) {
    .footer {
        background-image: url(../img/vyshyvanka-mob-2x.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
  }
.footer-menu {
    width: 100%;
    padding: 40px 20px 0 20px;
}
.footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px 40px;
    margin-bottom: 40px;
}
.footer-list-item {
    font-family: Manrope;
    color: #FCF9F9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28em; /* 128.571% */
    text-transform: uppercase;
    width: calc((100% - 80px) /2);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-item:hover, .footer-list-item:focus {
    color: #ECD979;
} 

.footer-title {
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22em; /* 122.727% */
    letter-spacing: -1.32px;
    width: 335px;
}
.footer-title-span {
    color: #ECD979;
}
.picture {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 401px;
}
.picture-tab {
    display: none;
    height: 100%;
    max-height: 401px;
}
.picture-lap {
    display: none;
    height: 100%;
    max-height: 401px;
}
.picture-des {
    display: none;
    height: 100%;
    max-height: 401px;
}

@media screen and (min-width: 768px) {
    .footer {
        min-width: 768px;
        display: flex;
        background-image: url(../img/vyshyvanka-tab.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: auto;
    }
    @media (min-resolution: 192dpi) {
        .footer {
            background-image: url(../img/vyshyvanka-tab-2x.png);
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 174px;
        }
    }
    .footer-list {
        flex-wrap: nowrap;
        margin-bottom: 80px;
        gap: 40px 25px;
    }
    .footer-list-item {
        width: auto;
    }
    
    .footer-title {
        width: 521px;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.18em;
        letter-spacing: -1.62px;
        width: 521px;
    }
    .picture {
        display: none;
    }
    .picture-tab {
        display: flex;
    }
}
@media screen and (min-width: 1280px) {
    .footer {
        min-width: 1280px;
        background-image: url(../img/vyshyvanka-lap.png);
        
    }
    @media (min-resolution: 192dpi) {
        .footer {
            background-image: url(../img/vyshyvanka-lap-2x.png);
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 336px;
        }
    }
    .footer-title {
        width: 754px;
        font-size: 64px;
        line-height: 1.15em;
        letter-spacing: -1.92px;
    }
    .picture-tab {
        display: none;
    }
    .picture-lap {
        display: flex;
    }
}
@media screen and (min-width: 1440px) {
    .footer {
        min-width: 1440px;
        background-image: url(../img/vyshyvanka-des.png);
    }
    @media (min-resolution: 192dpi) {
        .footer {
            background-image: url(../img/vyshyvanka-lap-2x.png);
            background-repeat: no-repeat;
            background-position: top right;
        }
    }
    .picture-lap {
        display: none;
    }
    .picture-des {
        display: flex;
    }
}