

.header-menu-list {
  display: none;
}

.header-contact {
  display: none;
}

.header-container {
  max-width: 375px;
  height: 72px;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  background-color: #1C2225;
  display: flex;
  align-items: center;
  position: relative;
}

.mob-menu {
  max-width: 274px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--main-yellow);
  z-index: 8;
  padding: 20px 20px 0 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  gap: 186px;
  background-image: url(../img/logo-png.png);
  background-position: right -39px bottom -51px;
  background-repeat: no-repeat;
  background-size: 340px 302px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-contact-link {
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  text-transform: uppercase;
  color: #1C2225;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.10);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link {
  color: #1C2225;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
}

.header-soc-item {
  width: 40px;
  height: 40px;
}

.header-soc-list {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.header-soc-link {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(252, 249, 249, 0.10);
  background-color: rgba(252, 249, 249, 0.10);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-soc-icon {
  fill: #FCF9F9;
}

.header-soc-link:hover,
.header-soc-link:focus,
.header-soc-link:active {
  border-color: var(--main-yellow);
  background-color: transparent;
}

.menu-open-btn-icon {
  fill: #ECD979;
}

.mob-menu-contact-link:hover,
.mob-menu-contact-link:focus,
.mob-menu-contact-link:active {
  border-color: var(--main-yellow);
}

.mob-menu-link:hover,
.mob-menu-link:focus,
.mob-menu-link:active {
  color: #FCF9F9;
}

.menu-open-btn {
  margin-left: 12px;
  background-color: transparent;
  border: none;
  fill: transparent;
  stroke: var(--main-yellow);
  padding: 0;
}

.mob-menu-close-btn {
  background-color: transparent;
  border: none;
  fill: transparent;
  stroke: #1C2225;
  padding: 0;
}

.mob-menu-container {
  display: flex;
  justify-content: space-between;
}

.mob-menu-item {
  margin-left: auto;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
  }

  .menu-open-btn {
    margin-left: 20px;
  }

  .mob-menu-contact-link {
    font-size: 14px;
    line-height: 1.43;
    padding: 14px 28px;
  }

  .mob-menu {
    max-width: 380px;
    gap: 223px;
    background-position: right -92px bottom -120px;
    background-size: 545px 484px;
    padding: 20px 32px 0 32px;
  }

  .mob-menu-list {
    gap: 25px;
  }

  .mob-menu-close-btn-icon {
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1280px;
    padding: 20px 100px 0 100px;
  }

  .mob-menu {
    display: none;
  }

  .menu-open-btn {
    display: none;
  }

  .header-menu-list {
    display: flex;
    gap: 25px;
    margin-left: 60px;
  }

  .header-contact {
    display: flex;
    margin-left: auto;
  }

  .header-menu-link {
    color: #FCF9F9;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
  }

  .header-soc-list {
    margin-left: 20px;
  }

  .header-contact-link {
    color: #FCF9F9;
    font-size: 14px;
    font-style: normal;
    line-height: 1.43;
    text-transform: uppercase;
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
  }
}

