/* .hero {
    padding: 60px 20px 40px 20px;
} */

.container-hero {
    max-width: 375px;
    margin: 0 auto;
    padding: 60px 20px 40px 20px;
}

.hero-main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.hero-title {
    width: 335px;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FCF9F9;
    margin-bottom: 20px;
}

.hero-part {
    color: #ECD979;
}

.hero-btn {
    /* width: 155px;
    height: 49px; */
    font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.04em;
    color: #FCF9F9;
    border: 1px solid #FCF9F91A;
    border-radius: 15px;
    background-color: transparent;
    text-transform: uppercase;
    /* padding: 0 0 0 36px; */
    margin-bottom: 40px;
    margin-left: 70px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 14px 36px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    border-color: #ECD979;
}

.hero-svg {
    fill: #ECD979;
}

.element-svg {
    fill: #ECD979;
    margin-bottom: 16px;
}

.element-subtitle {
    /* font-family: Manrope; */
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FCF9F966;
}



.hero-element {
    display: none;
}

.element-img {
    display: none;
}

@media screen and (min-width: 768px) {
    .container-hero {
        max-width: 768px;
        padding: 106px 32px 50px 32px;
    }

    .hero-main {
        position: relative;
        align-items: first baseline;
    }

    .hero-title {
        width: 549px;
        height: 192px;
        font-size: 54px;
        line-height: 1.19;
        letter-spacing: -0.03em;
    }

    .hero-btn {
        padding: 14px 39px;
        margin-left: 141px;
        font-size: 16px;
    }

    .hero-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 115px;
        height: 111px;
        position: absolute;
        top: -26px;
        right: 0;
    }

    .hero-image {
        width: 413px;
        height: 575px;
    }

    .element-container {
        position: relative;
        width: 139px;

    }

    .element-img {
        display: block;
        position: absolute;
        border-radius: 100px 100px 0 0;
        bottom: 0;
        right: 0;
    }
}

@media screen and (min-width: 1280px) {
    .container-hero {
        max-width: 1280px;
        padding: 100px 100px 75px 100px;
    }

    .hero-main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 40px;
    }

    .hero-image {
        width: 392px;
        height: 545px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-title {
        width: 518px;
        margin-bottom: 40px;
        margin-top: 94px;
    }

    .hero-btn {
        margin-left: 141px;
    }

    .hero-element {
        top: 14px;
    }


}

@media screen and (min-width: 1440px) {
    .container-hero {
        max-width: 1440px;
        padding: 100px 100px 75px 100px;
    }

    .hero-title {
        width: 632px;
        height: 222px;
        font-size: 64px;
        line-height: 1.16;
        letter-spacing: -0.02em;
        margin-top: 66px;
    }

    .hero-element {
        top: 66px;
    }
}