/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./collection.css');
@import url('./order.css');
@import url('./testimonials.css');
@import url('./footer.css');

:root {
  --main-black: #1C2225;
  --main-yellow: #ECD979;
  --main-white: #FCF9F9;
}